
body{
  max-width: 1920px;
}

.wrapper{
  width: 90%;
  margin: 0 auto;
}

.form-wrapper{
  width: 50%;
  margin: 0 auto;
}

.alert{
  border-radius: 0;
}

h1{
  padding: 10px 0;
}

table{
  padding: 20px 0;
}

.error-msg{
  color: #c77700;
  margin: 5px 0;
}

.mv-20{
  margin: 20px 0;
}

.mb-20{
  margin: 0 0 20px 0;
}

.mr-5{
  margin-right: 5px;
}

.mv-r-20{
  margin: 20px 5px 20px 0;
}

.profile img{
  height: 120px;
  width:  auto;
}

.button1{
  background: #000000;
  color: #fff;
}

.button2{
  background: #73757b;
}

.button1:hover{
  opacity: .7;
  color: #fff;
}

.btn-wid{
  width: 50%;
  margin: 20px auto;
}

.blue{
  background: #3d61d9;
  color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card,.create-card{
  text-align: center;
  padding: 20px;
  width: 30%;
  margin: 150px auto;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.create-card{
  width: 60%;
}
.not-card{
  text-align: center;
  width:100%;
  padding: 20px;
  margin: 250px auto;
}

.not-card1{
  margin: 30px 0 200px 0;
}

.not-card2{
  margin: 30px 0 250px 0;
  text-align: left;
}

.mb-350{
  margin: 30px auto 350px;
}

.mb-300{
  margin: 30px auto 300px;
}

footer{
  width: 100%;
  bottom: 0;
  position: fixed;
}